<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
      <div class="text-center">
          <h2>Vous ne pouvez pas vous inscrire <br>sauf si l'administrateur du site vous invite.</h2>
      </div>

<!--<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
<br />
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>
<br />
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "S'inscrivez-vous" ,class: "btn btn-primary"%>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>-->
  </div>
 </div>
</div>
