<div class="container">
  <div class="row">
    <p>Bonjour damien, <br>Une nouvelle réservation vient d'arriver par <br>
      <%= @reservation.first_name %> <%= @reservation.last_name %> <br>
      date de naissance : <%= @reservation.born %> <br>
      phone : <%= @reservation.phone %><br>
      adresse : <%= @reservation.address %> <br>
      voici son email, <%= @reservation.email %> <br>
      pour les dates du <%= @reservation.stage.date1 %> <br>
      le lieu est au <%= @reservation.stage.adresse %> <br>
      Ci-dessous les documents envoyés : <br></p>
      <h4>Document le courrier 48N :</h4> <br>

    <% if @reservation %>
      <%= image_tag @reservation.document.url, class:"img-responsive", id:"img.mail"%> <br> <br>
    <% else %>
    <h4>pas de document</h4>
    <% end %>

    <% if @reservation %>
      <%= image_tag @reservation.docidone.url, class:"img-responsive", id:"img.mail"%> <br> <br>
    <% else %>
    <h4>pas de document</h4>
    <% end %>
    <% if @reservation %>
      <%= image_tag @reservation.docidtwo.url, class:"img-responsive", id:"img.mail"%> <br> <br>
    <% else %>
    <h4>pas de document</h4>
    <% end %>-->

      <!--<%= image_tag @reservation.document.url, class:"img-responsive", id:"img.mail"%> <br> <br>
      <h4>Document d'identité :</h4> <br>
      <%= image_tag @reservation.docidone.url, class:"img-responsive" %> <br> <br>
      <h4>Document d'identité :</h4> <br>
      <%= image_tag @reservation.docidtwo.url, class:"img-responsive" %> <br> <br>-->
  </div>
</div>
