<h1>Bonjour, damien </h1> <br>
<h3>Un nouveau paiement vient d'être validé par un client et voici ces informations</h3><br>
<h3>Le stage est  le <%= @reservation.stage.date1 %>,
    <h4>à l'adresse  : <span><%= @reservation.address %> </span></h4><br/>
    par <%= @reservation.first_name %> <%= @reservation.last_name %>
  pour contacter le client voici l'email <%= @reservation.email %>, pour un prix total de
  <%= @reservation.price %> euros.

</h3><br>
<h3>Bonne journée !</h3>
