<section class="pricing py-5">
<div class="container">
  <div class="row" id="content_page_index">
    <div class=" col-lg-offset-4 col-lg-4 col-sm-6 col-sm-offset-3 col-xs-12" id="content_page_show">
    <div class="text-center">
        <h3 class="title_résa-index">Formulaire à remplir</h3>
    </div>


      <%= form_for @reservation do |f | %>
          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Entrez votre nom</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <%= f.text_field :first_name,  placeholder: 'ex: Payet ', class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Entrez votre prénom</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="far fa-user"></i></span>
                <%= f.text_field :last_name,  placeholder: 'ex :Dimitri', class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Entrez votre date de naissance</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="far fa-calendar-alt"></i></span>
                <%= f.text_field :born,  placeholder: 'ex :12/12/1986', class: "form-control"%>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Entrez votre email</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-at"></i></span>
                <%= f.text_field :email, placeholder: 'ex dimitri@payet.re',  class: "form-control"  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Entrez votre numéro de téléphone</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-phone-volume"></i></span>
                <%= f.text_field :phone, placeholder: 'ex 0692 12 33 44',  class: "form-control"  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Téléchargez un document</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-phone-volume"></i></span>
                <%= f.file_field :document, type:"file", onchange:"readURL(this);" %>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Entrez votre adresse complète</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-city"></i></span>
                <%= f.text_field :address, placeholder: 'ex: 15 rue de la voiture saint-pierre 97410',  class: "form-control"  %>
              </div>
            </div>
          </div>

          <div class="form-group">
              <%= f.hidden_field :stage_id, value: @stage.id %>
            </div>
            <div class="form-group">
              <%= f.submit 'Validez votre réservation', :class => "btn btn-primary navbar-btn"%>
            </div>
      <% end %>
    </div>
  </div>
</div>
</section>
