<section class="pricing py-5">
 <div class="container">
  <div class="row">
    <div class="text-center">
      <h1 class="titre.index.stage" style="  margin-bottom: 80px!important;">Choisissez votre stage</h1>
    </div>
    <% @stages.each do | stage | %>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom:100px">
       <div class="card mb-4 mb-lg-0">
        <div class="card-body">
        <h3 class="card-title text-muted text-uppercase text-center"><%= stage.titre %></h3>
        <small><h5 class="card-title text-muted text-uppercase text-center"><%= stage.ville %></h5></small>
        <br>
        <h6 class="card-price text-center"><%= stage.price %><span class="period">€/ le stage</span></h6>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="far fa-calendar-alt"></i></span><%= stage.date1 %></li>
          <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span><%= stage.adresse %> </li>
          <li><span class="fa-li"><i class="fas fa-business-time"></i></span>horaire <%= stage.horaire %> </li>

        </ul>
        <h4><%= button_to "Je m'inscris ! ", stage_path(stage), :class => "btn btn-block btn-primary text-uppercase", :method => :get %></h4>
        </div>
       </div>
      </div>
    <% end %>
  </div>
 </div>
</section>
