<section class="pricing py-5">
<div class="container">
 <div class="row">
    <div class=" col-lg-offset-3 col-lg-6 col-sm-6 col-sm-offset-3 col-xs-12" id="content_page_show">
      <% if flash[:sorry] %>
        <div class="notice">
          <h3><%= flash[:sorry] %></h3> <br>
        </div>
      <% else %>
          <h3>Voici le stage que vous avez choisi</h3> <br>
      <% end %>
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
           <h5 class="card-title text-muted text-uppercase text-center"><%= @stage.titre %></h5>
           <small><h5 class="card-title text-muted text-uppercase text-center"><%= @stage.ville %></h5></small> <br>
           <h6 class="card-price text-center"><%= @stage.price %><span class="period">€/le stage </span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="far fa-calendar-alt"></i></span><%= @stage.date1 %></li>
            <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span><%= @stage.adresse %> </li>
            <li><span class="fa-li"><i class="fas fa-business-time"></i></span>horaire <%= @stage.horaire %> </li>
            <li><span class="fa-li"><i class="fas fa-users"></i></span><%= @stage.nbstagiaire %>personnes par stage </li>
          </ul>
          <%= link_to 'Faire une réservation', new_reservation_path(stage_id: @stage.id), class: "btn btn-block btn-primary text-uppercase", id: "btn_car_show"%>
        </div>
       </div>
    </div>
 </div>
</div>
</section>
